// .about {
// }

.elsewhere {
  &__list {
    list-style: none;
    padding: 0;

    li {
      margin: .25em 0;
    }


    a {
      span {
        text-decoration: underline;
      }
      &:link,
      &:visited {
        text-decoration: none;
      }
      &:hover,
      &:active {
        color: $accent1;
      }
    }
    .icon {
      margin-right: .25em;
    }

    .label {
      color: $grey40;
      margin: 1em 0;
    }
  }
}

@media screen and (min-width: 960px) {
  .about {
    display: grid;
    grid-gap: 0 2em;
    grid-template-columns: 2fr 2fr;

    section {
      max-width: 28em;
    }
  }
}