.about {
  max-width: 60em;
  p {
    font-family: $serif;
  }
}

.elsewhere {
  &__list {
    list-style: none;
    padding: 0;

    li {
      margin: .25em 0;
      font-weight: 700;
      font-size: 1.2em;
    }


    a {
      span {
        text-decoration: underline;
      }
      &:link,
      &:visited {
        text-decoration: none;
      }
      &:active {
        span {
          text-decoration: none;
        }
      }
    }
    .icon {
      margin-right: .25em;
    }

    .label {
      color: $grey40;
      margin: 1em 0;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 960px) {
  .about {
    display: grid;
    grid-column-gap:  4em;
    grid-template-columns: 2fr 2fr;

    section {
      max-width: 28em;
    }
  }
}