$sans: 'Work Sans', Helvetica, sans-serif;
$body: 'Bitter', serif;
// $body: 'Merriweather', 'Merriweather Sans', serif;
$accent1: #001DDE;
$accent1-light: #6579FF;
$accent2: #FF0064;

$black: #222;
$grey80: #EEEEEE;
// $grey60: #D8D8D8;
// $grey50: #9B9B9B;
$grey40: #848484;
$grey30: #494949;

