$headline: 'Work Sans', Helvetica, sans-serif;
$body: 'Merriweather Sans', serif;
$accent1: #001DDE;
$accent1-light: #6579FF;

$black: #222;
$grey70: #EEEEEE;
// $grey60: #D8D8D8;
// $grey50: #9B9B9B;
$grey40: #848484;

