
$serif: 'Bitter', serif;
$sans: 'Barlow', sans-serif;

$accent1: #001DDE;
$accent1-light: #6579FF;
$accent2: #FF0064;
$accent2-bg: #FFEBCA;


$black: #222;
$grey90: #F5F5F5;
$grey80: #EEEEEE;
$grey60: #D8D8D8;
$grey50: #acacac;
$grey40: #848484;
$grey30: #484848;

