.header {
  margin-top: 10px;
}

.dw-logo {
  font-size: 13px;
  font-family: $sans;
  font-weight: 600;
  a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $black;
  }
  .icon {
    font-size: 2em;
    margin-right: .25em;
    vertical-align: 0;
    color: $accent1;
  }

}