.header {
  padding: 1.5em 3.5vw;
}

.dw-logo {
  font-size: .8em;
  font-family: $sans;
  font-weight: 700;
  text-align: right;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
  }

  span {
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  .icon {
    font-size: 2em;
    margin-right: .25em;
    vertical-align: 0;
  }
}

@media screen and (min-width: 400px) {
  .header {
    padding: 1.5em 5vw;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}