.intro {
  h1 {
    font-size: 25px;
    margin-bottom: 0;

    em {
      color: $accent1;
      font-style: normal;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    color: $accent1;
    text-decoration: none;
    margin: 1.5em 0;
  }

  &__intro {
    color: $grey30;
  }


}