@import './config.scss';

html, body {
  font: 400 14px/1.6 $body;
  color: $black;
  background-color:white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 100%/1.2 $sans;
  margin: 1em 0;
}

a {
  &:link, &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}

@mixin link() {
  a:link, a:visited {
    text-decoration: underline;
  }
  a:hover {
    color: white;
    text-decoration: none;
    background-color: $accent1;
  }
  a:active {
    background-color: $accent1-light;
    text-decoration: none;
  }
}

p {
 @include link();
}

img {
  width: 100%;
  height: auto;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.15em;
  display: inline-block;
  fill: currentColor;
}

.header, .section, .footer {
  padding: 10px 7%;

  h2 {
    font-size: 25px;
    text-decoration: underline;
  }
}

section > p {
  color: $grey30;
}

@import './header.scss';
@import './intro.scss';
@import './portfolio.scss';
@import './about.scss';
@import './footer.scss';
