@import './config.scss';

html, body {
  font: 400 14px/1.6 $sans;
  color: $grey30;
  background-color:white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: 800 100%/1.2 $sans;
  margin: 1em 0;
}

@mixin link() {
  a:link, a:visited {
    color: inherit;
    text-decoration: underline;
  }
  a:hover {
    color: $accent1;
  }
  a:active {
    background-color: $accent1;
    color : white;
    text-decoration: none;
  }
}

@include link();

img {
  width: 100%;
  height: auto;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.15em;
  display: inline-block;
  color: inherit;
  fill: currentColor;
}

.header, .section, .footer {
  padding: 1em 7vw;

  h2 {
    font-size: 8.2vw;
    letter-spacing: -.01em;
    line-height: 1;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 300;
  }
}

@media screen and (min-width: 375px) {
  html, body {
    font-size: 15px;
  }
}

@media screen and (min-width: 400px) {
  html, body {
    font-size: 16px;
  }
  .header, .section, .footer {
    padding: 1.5em 10vw;
  }
}

@media screen and (min-width: 500px) {
  html, body {
    font-size: 17px;
  }
  .header, .section, .footer {
    padding: 2em 10vw;
  }
}

@media screen and (min-width: 768px) {
  .header, .section, .footer {
    h2 {
      font-size: 6vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header, .section, .footer {
    h2 {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 1400px) {
  html, body {
    font-size: 18px;
  }
  .header, .section, .footer {
    h2 {
      font-size: 4.5vw;
    }
  }
}

@media screen and (min-width: 1600px) {
  .header, .section, .footer {
    h2 {
      font-size: 4vw;
    }
  }
}

@media screen and (min-width: 1800px) {
  .header, .section, .footer {
    h2 {
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 2000px) {
  html, body {
    font-size: 19px;
  }
  .header, .section, .footer {
    h2 {
      font-size: 78px;
    }
  }
}

@import './header.scss';
@import './intro.scss';
@import './portfolio.scss';
@import './about.scss';
@import './footer.scss';